{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Upload History</h1>

<div class="container">
    <div class="row">
        <p>test</p>
        <!-- Uploaded image posts -->
        {% for post in uploaded_image %}
            <div class="blog-post-container">
                {% include 'image_recognition/snippets/upload_post_snippet.html' with uploaded_image=post %}
            </div>
        {% empty %}
            <p>No images uploaded yet.</p>
        {% endfor %}
        <!-- End of posts-->
    </div>
</div>
{% endblock content %}
